---
import '../styles/global.css';
---
<div class="band" id="newsletter">
  <h3 class="serif">One real workflow in your inbox, <em>when it's actually ready.</em></h3>
  <p>No schedule, no filler. A new build goes out only when it's worth your ten minutes.</p>
  <form class="form" action="#" method="post">
    <input type="email" name="email" placeholder="you@work.com" required />
    <button type="submit" class="btn btn-primary">Subscribe</button>
  </form>
</div>
